section
  div.about-lock
    .flip-container(ontouchstart="this.classList.toggle('hover');")
     .flipper
       .front
          div.face-img
       .back
          div.face1-img

    div(class="glyph-icon flaticon-computer1")
    div(class="glyph-icon flaticon-computer1")
    div(class="glyph-icon flaticon-hosting")
    div(class="glyph-icon flaticon-computers13")

  div.blurb
    p A blockchain entrepreneur with endless creativity to disrupt.
  div.blurb-skills
    p Skills: Go, Node.js, Javascript, C, C++, Java, C#/.Net, Angular, Angular 2, Ruby, Rails, and more...
  div.skill-lock
  div.presentation-photo
    img(src="/assets/img/presentations/what-is-blockchain.jpg")
    img(src="/assets/img/presentations/citi.jpg")
