section
  h2#about-me About Myself
  hr.bar

  div.about-lock
    .flip-container(ontouchstart="this.classList.toggle('hover');")
     .flipper
       .front
          div.face-img
       .back
          div.face1-img

    div(class="glyph-icon flaticon-computer1")
    div(class="glyph-icon flaticon-computer1")
    div(class="glyph-icon flaticon-hosting")
    div(class="glyph-icon flaticon-computers13")

  div.blurb
    p A blockchain visionary with the goal to shift the status quo. I have been fortunate to work around the world in London, Oslo and Sydney as a software engineer, agile coach and architect. And am now base in Mallorca, Spain.
  div.blurb-skills
    p Skills: Go, Node, Javascript, Ruby, C, C++, Java, C#/.Net, Angular, Angular 2, Rails...
  div.skill-lock
