section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    a(href='https://uk.linkedin.com/in/michael-smolenski-19701618')
      div(class="glyph-icon flaticon-linkedin-logo")
    a(href='https://github.com/mikesmo')
      div(class="glyph-icon flaticon-github-logo")
    a(href='https://twitter.com/mikesmolenski')
      div(class="glyph-icon flaticon-twitter-logo-silhouette")

  hr.bar

