#container1.arrow
#container
header#home
  nav#nav_small_default
    a(href='#about-me') About
    a(href='#Experenice') Experience
    a(href='#Blog') Blog
    a(href='#Details') Contact

  h1
    span Michael Smolenski
  p.kicker Blockchain Entrepreneur
