.history
  .cd-timeline-header
    h2#Experenice Experience
    hr.bar

  section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/web-programming.svg")
        // cd-timeline-img
        .cd-timeline-content
          h2 Autonomous Contracts
          p
            | Founded
            a(href="http://autonomouscontracts.com/")  Autonomous Contracts,
            |  a blockchain company that builds smart contract solutions. The first key technology developed is
            a(href="https://github.com/autocontracts/permissioned-blocks/")  Permissioned Blocks,
            |  which brings privacy to public blockchains.
          p
            a(href="https://github.com/autocontracts/permissioned-blocks/blob/master/whitepaper.md")  White paper - Permissioned Blocks

          span.cd-date 2017
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/svg-icon/prize.svg")
        // cd-timeline-img
        .cd-timeline-content
          h2 Santander Bank Distributed Ledger Competition
          p
            | Awarded 2nd place in a global competition run by Santander Bank in New York for
            a(href="http://midasium.com/")  Midasium's
            |  Smart Tenancy Contracts for Real Estate.
          p
            a(href="http://midasium.com/")  Read more...

          span.cd-date 2016
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/svg-icon/award.svg")
        // cd-timeline-img
        .cd-timeline-content
          h2 Citibank Global Mobile Challenge
          p
            | Selected to present at Citibank Global Mobile Challenge for Smart Tenancy Contract prototype using Blockchain technology
          p
            a(href="http://midasium.com/")  Read more...

          span.cd-date 2015

        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
          .cd-timeline-img.cd-location
              img(src="../assets/img/svg-icon/award.svg")
          // cd-timeline-img
          .cd-timeline-content
              h2 Top 10 Australian FinTech Startup
              p
                  | Founded the startup Lend2Fund which was selected as one of the top 10 Australian fintech startups by the UK Trade & Investment.
              p
                a(href="http://www.smh.com.au/business/london-wants-to-pinch-best-aussie-fintech-startups-20150821-gj4pi4.html") Read more...

              span.cd-date 2015

          // cd-timeline-content
          // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/graduate38.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Advanced Agile Coach
          p
            | Certified by Alistair Cockburn, one of the signatories of the agile manifesto as an Advanced Agile Coach

          span.cd-date 2014

        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/svg-icon/solution-architect.svg", alt="Agile Coach")
        // cd-timeline-img
        .cd-timeline-content
          h2 Agile Coach
          p
            | At Commonwealth Bank in Sydney, Australia I helped train teams in various agile practices such as Scrum, Kanban, XP, Continuos Delivery, DevOps and related Lean and software design practices.

          span.cd-date 2014
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/svg-icon/architect.svg", alt="Solution Architect")
        // cd-timeline-img
        .cd-timeline-content
          h2 Solutions Architect
          p
            | Extensive fintech experience at Goldman Sachs, Westpac Bank and Fiserv as both an Application and Solutions Architect

          span.cd-date 2009 - 2013
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/graduate38.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Agile Engineering Academy
          p
            | Graduated from the Agile Engineering Academy in London, covering Lean, Scrum, Kanban and XP practices as well as agile design patterns.

          span.cd-date 2008
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Software Developer
          p
            | Working in Oslo, Norway as a Software Developer for Agresso.

          span.cd-date 2006 - 2007
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/svg-icon/plane.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Private Pilots Licence
          p
            | Trained in NZ for 6 months to obtain my private pilots licence.

          span.cd-date 2006
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Software Developer
          p
            | Working in London as a Software Developer for BP, Credit Suisse and Accenture.

          span.cd-date 2002 - 2006
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src="../assets/img/svg-icon/bank.svg", alt="College")
        // cd-timeline-img
        .cd-timeline-content
          h2 London Stock Exchange
          p
            | Working as a software engineer at the London Stock Exchange upgrading their core trading systems.
          span.cd-date 2002
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src="../assets/img/svg-icon/chip.svg", alt="College")
        // cd-timeline-img
        .cd-timeline-content
          h2 Hardware Engineer at Xilinx
          p
            | Designing integrated circuit hardware for FPGA chips now used in modern bitcoin mining operations.
          span.cd-date 2000
        // cd-timeline-content
      // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading BE(hons) Electrical Engineering
          P
            | I graduated from Canterbury University, New Zealand with an Honours in Bachelor of Electrical & Electronic Engineer, majoring in hardware, software and communications Engineering.

          span.cd-date 1996-2000
        // cd-timeline-content
        // cd-timeline-block

  .cd-timeline-header
    h2
